.default-border{
	border: 2px solid #1abc9c;border-radius: 6px;
	margin-bottom: 18px;
	padding: 6px 1px 1px 6px;
	overflow-y: auto;
}

.default-error{
	color: #e74c3c !important ;
	border-color: #e74c3c !important ;
	-webkit-box-shadow: none !important ;
	box-shadow: none !important ;
}

.server-input{
	float: left;
	border: 0px solid #bdc3c7;
	border-left: 1px solid #bdc3c7;
}

.server-remove{
	color: #d9534f;
	cursor: pointer;
	float:left;
	margin:5px;
}
.server-remove a{
	color: #d9534f;;
}
.server-remove a:hover{
	color: red;
}