<!DOCTYPE HTML>
<html lang="zh-cn" ng-app="CSSClasses">
<head>
    <meta charset="UTF-8">
    <title>CSSClasses</title>
    <style type="text/css">
        
    </style>
</head>
<body ng-controller="ApplicationController">
<form name="loginForm" ng-controller="LoginController"
      ng-submit="login(credentials)" novalidate>
  <label for="username">Username:</label>
  <input type="text" id="username"
         ng-model="credentials.username">
  <label for="password">Password:</label>
  <input type="password" id="password"
         ng-model="credentials.password">
  <button type="submit">Login</button>
</form>

<div ng-if="currentUser">Welcome, {{ currentUser.name }}</div>
<div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
<div ng-switch on="currentUser.role">
  <div ng-switch-when="userRoles.admin">You're admin.</div>
  <div ng-switch-when="userRoles.editor">You're editor.</div>
  <div ng-switch-default>You're something else.</div>
</div>

<div login-dialog ng-if="!isLoginPage"></div>

<script src="lib/jquery/jquery-2.1.1.min.js"></script>
<script src="lib/angular/angular.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var app = angular.module("CSSClasses", []);
    
    
    app.constant('AUTH_EVENTS', {
	  loginSuccess: 'auth-login-success',
	  loginFailed: 'auth-login-failed',
	  logoutSuccess: 'auth-logout-success',
	  sessionTimeout: 'auth-session-timeout',
	  notAuthenticated: 'auth-not-authenticated',
	  notAuthorized: 'auth-not-authorized'
	});
	
	app.constant('USER_ROLES', {
	  all: '*',
	  admin: 'admin',
	  editor: 'editor',
	  guest: 'guest'
	});
	
	
    app.controller('LoginController', function ($scope, $rootScope, AUTH_EVENTS, AuthService) {
	  $scope.credentials = {
	    username: '',
	    password: ''
	  };
	  $scope.login = function (credentials) {
	    AuthService.login(credentials).then(function (user) {
	      $rootScope.$broadcast(AUTH_EVENTS.loginSuccess);
	      $scope.setCurrentUser(user);
	    }, function () {
	      $rootScope.$broadcast(AUTH_EVENTS.loginFailed);
	    });
	  };
	});
	
	
	app.factory('AuthService', function ($http, Session) {
	  var authService = {};
	 
	  authService.login = function (credentials) {
	    return $http
	      .post('/login', credentials)
	      .then(function (res) {
	        Session.create(res.id, res.user.id, res.user.role);
	        return res.user;
	      });
	  };
	 
	  authService.isAuthenticated = function () {
	    return !!Session.userId;
	  };
	 
	  authService.isAuthorized = function (authorizedRoles) {
	    if (!angular.isArray(authorizedRoles)) {
	      authorizedRoles = [authorizedRoles];
	    }
	    return (authService.isAuthenticated() &&
	      authorizedRoles.indexOf(Session.userRole) !== -1);
	  };
	 
	  return authService;
	});
	
	app.service('Session', function () {
	  this.create = function (sessionId, userId, userRole) {
	    this.id = sessionId;
	    this.userId = userId;
	    this.userRole = userRole;
	  };
	  this.destroy = function () {
	    this.id = null;
	    this.userId = null;
	    this.userRole = null;
	  };
	  return this;
	});
	
	app.controller('ApplicationController', function ($scope,
	                                               USER_ROLES,
	                                               AuthService) {
	  $scope.currentUser = null;
	  $scope.userRoles = USER_ROLES;
	  $scope.isAuthorized = AuthService.isAuthorized;
	 
	  $scope.setCurrentUser = function (user) {
	    $scope.currentUser = user;
	  };
	});
	
	
	app.config(function ($stateProvider, USER_ROLES) {
	  $stateProvider.state('dashboard', {
	    url: '/dashboard',
	    templateUrl: 'dashboard/index.html',
	    data: {
	      authorizedRoles: [USER_ROLES.admin, USER_ROLES.editor]
	    }
	  });
	});
	
	app.run(function ($rootScope, AUTH_EVENTS, AuthService) {
	  $rootScope.$on('$stateChangeStart', function (event, next) {
	    var authorizedRoles = next.data.authorizedRoles;
	    if (!AuthService.isAuthorized(authorizedRoles)) {
	      event.preventDefault();
	      if (AuthService.isAuthenticated()) {
	        // user is not allowed
	        $rootScope.$broadcast(AUTH_EVENTS.notAuthorized);
	      } else {
	        // user is not logged in
	        $rootScope.$broadcast(AUTH_EVENTS.notAuthenticated);
	      }
	    }
	  });
	});
	
	app.config(function ($httpProvider) {
	  $httpProvider.interceptors.push([
	    '$injector',
	    function ($injector) {
	      return $injector.get('AuthInterceptor');
	    }
	  ]);
	});
	
	
	app.factory('AuthInterceptor', function ($rootScope, $q,
	                                      AUTH_EVENTS) {
	  return {
	    responseError: function (response) { 
	      $rootScope.$broadcast({
	        401: AUTH_EVENTS.notAuthenticated,
	        403: AUTH_EVENTS.notAuthorized,
	        419: AUTH_EVENTS.sessionTimeout,
	        440: AUTH_EVENTS.sessionTimeout
	      }[response.status], response);
	      return $q.reject(response);
	    }
	  };
	});
	
	
	app.directive('loginDialog', function (AUTH_EVENTS) {
	  return {
	    restrict: 'A',
	    template: '<div ng-if="visible"
	                    ng-include="login-form.html">',
	    link: function (scope) {
	      var showDialog = function () {
	        scope.visible = true;
	      };
	  
	      scope.visible = false;
	      scope.$on(AUTH_EVENTS.notAuthenticated, showDialog);
	      scope.$on(AUTH_EVENTS.sessionTimeout, showDialog)
	    }
	  };
	});
	
	
	app.directive('formAutofillFix', function ($timeout) {
	  return function (scope, element, attrs) {
	    element.prop('method', 'post');
	    if (attrs.ngSubmit) {
	      $timeout(function () {
	        element
	          .unbind('submit')
	          .bind('submit', function (event) {
	            event.preventDefault();
	            element
	              .find('input, textarea, select')
	              .trigger('input')
	              .trigger('change')
	              .trigger('keydown');
	            scope.$apply(attrs.ngSubmit);
	          });
	      });
	    }
	  };
	});
</script>
</body>
</html>